#rltdpstsplgn_options {
	padding-top: 10px;
}
#rltdpstsplgn_sets {
	padding-top: 10px;
	text-align: left;
	width: 100%;
}
#rltdpstsplgn_sets th {
	font-weight: normal;
	width: 240px;
	padding-right: 10px;
}
#rltdpstsplgn_sets .rltdpstsplgn_search_block th {
	vertical-align: top;
	padding-top: 10px;
}
#rltdpstsplgn_sets .rltdpstsplgn_search_block td {
	padding-top: 10px;
}
#rltdpstsplgn_sets input {
	margin-right: 5px;
	text-align: left;
}
#rltdpstsplgn_sets input[type="text"],
#rltdpstsplgn_sets input[type="number"] {
	width: 300px;
}
#rltdpstsplgn_sets .rltdpstsplgn_search {
	float: none;
	line-height: 18px;
}
.rltdpstsplgn_text {
	width: 215px;
}
#rltdpstsplgn_sets td {
	padding: 5px 0 0;
}
#rltdpstsplgn_sets .rltdpstsplgn_checkbox {
	padding-top: 0;
	vertical-align: top;
}
#rltdpstsplgn_sets .rltdpstsplgn_options {
  padding: 0;
}
#rltdpstsplgn_sets td span {
	color: #888;
	font-size: 10px;
}
